<div class="d-flex align-items-center justify-content-center flex-column h-100">
    <div class="d-flex align-items-center justify-content-center w-100 bg-black mb-3">
        <h1 class="title-ccf white">Login</h1>
    </div>

    <p class="mb-3 text-center">Para acessar o painel admin realize seu Login</p>

    <input type="text" class="input-ccf input-med px-3 my-1" placeholder="Usuário" [(ngModel)]="usuario">
    <input type="password" class="input-ccf input-med px-3 my-1" placeholder="Senha" [(ngModel)]="senha">

    <button class="btn-ccf my-1">Entrar</button>
</div>