#preview {
    padding: 0;
    padding-top: 60px;
}

.text-container {
    font-family: 'Cash Display Bold';
    font-size: 55px;
}

@media (max-width: 1024px) {
    .text-container {
        font-size: 35px;
    }
}