<div class="content">
    <h1 class="title-ccf text-center">Inscreva sua equipe!</h1>
</div>

<div class="card mx-5 my-3 p-3">
    <h3 class="subtitle-ccf px-3 py-2">Crie sua equipe</h3>

    <div class="d-flex flex-column gap-4">
        <div class="d-flex align-items-center inscricao flex-wrap gap-2 sub-card">
            <h3 class="subtitle-min-ccf px-3">Informações Equipe</h3>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">Nome da Equipe</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="Minha equipe">
            </div>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">E-mail de contato</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="meuemail@email.com">
            </div>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">Número da Arrais</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="12345ABC...">
            </div>
            <div class="d-flex w-100 align-items-center">
                <label class="input-check my-2 px-2">
                    Barco alugado?
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">Nome da embarcação</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="Meu barco">
            </div>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">Capitania</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="São Paulo (SP)">
            </div>
            <div class="d-flex w-100 align-items-center">
                <label class="input-check my-2 px-2">
                    Motorização alugada?
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">Motorização</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="Motor 50HP">
            </div>
        </div>

        <div class="d-flex align-items-center inscricao flex-wrap gap-2 sub-card">
            <h3 class="subtitle-min-ccf px-3">Capitão</h3>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">Nome completo do capitão</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="Fulano da Silva">
            </div>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">CPF do capitão</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="XXX.XXX.XXX-XX">
            </div>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">Celular do capitão</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="(43) 99999-9999">
            </div>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">Cidade do capitão</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="Primeiro de Maio">
            </div>
        </div>

        <div class="d-flex align-items-center inscricao flex-wrap gap-2 sub-card">
            <h3 class="subtitle-min-ccf px-3">2º Pescador</h3>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">Nome completo do pescador</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="Fulano da Silva">
            </div>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">CPF do pescador</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="XXX.XXX.XXX-XX">
            </div>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">Celular do pescador</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="(43) 99999-9999">
            </div>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">Cidade do pescador</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="Primeiro de Maio">
            </div>
        </div>

        <div class="d-flex align-items-center inscricao flex-wrap gap-2 sub-card">
            <h3 class="subtitle-min-ccf px-3">3º Pescador</h3>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">Nome completo do pescador</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="Fulano da Silva">
            </div>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">CPF do pescador</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="XXX.XXX.XXX-XX">
            </div>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">Celular do pescador</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="(43) 99999-9999">
            </div>
            <div class="d-flex w-100 align-items-center flex-column">
                <label class="px-3 input-max">Cidade do pescador</label>
                <input type="text" class="input-ccf input-max px-3" placeholder="Primeiro de Maio">
            </div>
        </div>

        <button class="btn-form">Concluir inscrição</button>
    </div>
</div>