<app-preview-modalidade></app-preview-modalidade>
<div class="container-fluid p-5 custom-padding">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mb-3 text-center title-ccf">Promovendo o turismo e a consciência ambiental através de torneios de
                pesca
                esportiva.</h1>
        </div>
        <div class="col-md-6">
            <p>Nascemos em 2021 para promover o turismo e consciência ambiental por meio de torneios de pesca esportiva
                na Represa Capivara, Paraná. Começamos com o Pridema Tucuna Fishing, atraindo 30 equipes.</p>
            <p>Em 2022, crescemos para um ranking de 4 etapas, tornando-nos o maior torneio regional, com média de mais
                de 64 equipes por etapa.</p>
        </div>
        <div class="col-md-6">
            <p>Em 2023, evoluímos para o Circuito Capivara Fishing, incluindo barcos e caiaques, buscando atender as
                expectativas dos pescadores com dedicação.</p>
        </div>
    </div>
</div>
<div class="container-fluid custom-padding-h">
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="d-flex align-items-center justicify-content-center">
                <img src="assets/img/video-preview.svg" width="100px" alt="Preview do Vídeo do Circuito Capivara Fishing">
                <div class="column">
                    <h6 class="pv0 mx-3 mintitle-ccf">Veja sobre o Circuito 2024</h6>
                    <p class="pv0 mx-3 minsubtitle-ccf">Assistir vídeo</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <p>teste2</p>
        </div>
    </div>
</div>