@font-face {
    font-family: 'Cash Display Bold';
    src: url('./assets/fonts/clashdisplay/ClashDisplay-Semibold.otf');
}

body,
html {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 5px !important;
    margin: 0 !important;
}

.background-image {
    background-image: url('../public/backgrounds/fundo_home.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}

.text-container {
    text-align: center;
    font-size: 2.5em;
    padding-top: 100px;
}

.logo-center {
    width: 125px;
    height: 125px;
    margin-bottom: 15px;
}