@font-face {
    font-family: 'Cash Display Bold';
    src: url('./assets/fonts/clashdisplay/ClashDisplay-Semibold.otf');
}

@font-face {
    font-family: 'Inter Medium';
    src: url('./assets/fonts/intertight/InterTight-Medium.ttf');
}

body,
html {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 5px !important;
    margin: 0 !important;
}

.background-image {
    background-image: url('/assets/backgrounds/fundo_home.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}

.title-ccf {
    font-family: 'Cash Display Bold';
}

.subtitle-ccf,
.subtitle-min-ccf {
    font-family: 'Cash Display Bold';
    font-size: 25px;
}

.subtitle-min-ccf {
    font-size: 18px;
}

.mintitle-ccf {
    font-size: 15px;
}

.minsubtitle-ccf {
    font-size: 13px !important;
}

.text-container {
    text-align: center;
    font-size: 2.5em;
    padding-top: 100px;
}

label {
    font-family: 'Inter Medium';
}

.input-ccf {
    font-family: 'Inter Medium';
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #ebebeb;
    color: rgb(0, 0, 0);
    max-width: 300px;
}

.input-max {
    width: 100% !important;
    max-width: 100%;
}

.label-check {
    text-align: center;
}

.input-check {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    font-size: 16px;
}

.input-check input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.input-check input[type="checkbox"]:checked+.checkmark {
    background-color: #4CAF50;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.input-check input[type="checkbox"]:checked+.checkmark:after {
    display: block;
}

.input-check .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.input-check:hover .checkmark {
    background-color: #aaa;
}

.btn-form {
    font-family: 'Inter Medium';
    outline: none;
    border: solid black 2px;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(90deg, #E0A347 0%, #FFD99F 48%, #ECA63D 69%, #C89E60 100%);
    color: rgb(0, 0, 0);
}

.logo-center {
    width: 125px;
    height: 125px;
    margin-bottom: 15px;
}

.pv0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@media (max-width: 992px) {
    .mintitle-ccf {
        font-size: 10px;
    }

    .minsubtitle-ccf {
        font-size: 8px !important;
    }
}